.search-box {
  padding-top: 60px;
  width: 960px;
  margin: 0 auto;
  position: relative;
}

.search-input {
  width: 960px;
}

.search-icon {
  position: absolute;
  overflow: hidden;
  top: 71px;
  left: 950px;
}

.small {
  font-size: 18px;
  font-weight: 200;
  text-align: center;
}

.center {
  margin: 0 auto;
}

.search-results {
  width: 940px;
}

.user  {
  width: 940px;
}

.caption {
  font-size: 25px;
  font-weight: 200;
  margin-top: 20px;
  text-align: center;
  width: 960px;
}

.title {
  font-size: 18px;
  margin: 10px 0 10px 0;
}

.side-title {
  font-size: 16px;
  margin: 10px 0 10px 0;
}

.description {
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 14px;
}

.issue-info {
  margin: 10px 0 10px 0;
  font-size: 15px;
}

.issue-info li {
  float: left;
}

.issue-info ul {
  margin: 0;
  list-style-type: none;
}

.info {
  margin: 0 5px 0 0;
  font-size: 15px;
}

.info ul {
  list-style-type: none;
  margin: 0;
}

.info li {
  float: left;
}

.margin {
  margin-left: 10px;
}

.search-item {
  margin-bottom: 15px;
}

.span10 {
  padding-left: 15px;
  border: none;
  overflow: hidden;
  border-left: 2px solid white;
}

.span10:hover {
  border-left: 2px solid #999;
}

.issue-title {
  margin-left: 100px;
  font-size: 17px;
}