<section id="application" class="container">
<<<<<<< HEAD
    {{outlet search}}
=======
    {{outlet searchBox}}
    {{outlet repos}}
>>>>>>> b1cbcef60487a49e15e3670834586252039e4451
    {{outlet}}
</section>