<div class="issue">
    <div class="pull-left">
        <div>#116</div>
        <div>open</div>
    </div>
    <div class="issue-title">
        <a href="https://github.com/addyosmani/aura/issues/116">What is Aura's aura?</a>
        by
        <a href="https://api.github.com/users/tony">tony</a>
        <div class="issue-info">
            <ul>
                <li>Comments (expand)</li>
                <li class="margin">Issue text (expand)</li>
            </ul>
        </div>
        <!-- <div class="issue-text">
            Linus Torvalds had an [interesting point](https://plus.google.com/115250422803614415116/posts/hMT5kW8LKJk) brought up during a dispute with a Gnome developer few weeks ago. Both are very smart people with different paradigms on how engineering should be approached. Linus discussed the importance of keeping a consistent external API interface, which Linux I assume has it merits to. Some commenters say Gnome has been a moving target with everything from external API and their UX. \n\nFor Gnome, This has meant the software was able to implement ideas, for better or worse, at an impressive pace. For Linux, growing pains led to internal refactoring to expand of the core's capabilities while keeping external interfaces consistant, Alan Cox says an app compiled from 1992 still runs in a recent compilation of Linux.\n\nWhat are we representing? What parts of this does Aura's dev effort represent? Here are 3 polarizing, non-politically correct generalizations :D\n\n1. Experimental, Psychedelic: more ambitious that experiments, makes changes, adds globstar pubsubs, abstracts the genome with a toJSON()... We are brash, mad scientists, people look at us weird, but occasionally we drop an incredibly useful concept from our tinkering. Earlier versions of awesome WM and gnome has had a lot of activity in this respect.\n    * Who loves us: People who want to be clued in on what's on the cutting edge.\n    * Who runs from us: Men who wear ties.\n\n2. College Grads / Lab coats / Non-profit group. Aura is a workgroup researching and experimenting with what would be the best way to implement these patterns / abstractions in practice, responding to feedback we receive from true outside use cases. We what we are to the Mediator/Facade/Module combo and lib abstraction what commonjs is to modules.\n  * Who loves us: We're respected as a pattern that is a result of wisdom of prior software architecture concepts and modern product environments. 1.0 doesn't come overnight.\n\n3. Skyscraper / Ties / Corporate.The elders made their API and it is written in stone, for the enterprizes. Our external interface has been written in concrete, a developer in a production environment could update their aura and not expect to change much, if anything, it's small and documented. Django and python has deprecation warnings sound out for years / a few major releases before an api changes.\n  * Who loves us: The manager's of men in suits.\n  * Who ignores us: People who live on the cutting edge 8-)\n  * Who hates us: No one, unless we come to find our architectural philosophies had flaws in real world scenarios  which weren't predictable in a lab environment.\n  * What fixes this: 1.1 and 2.0\n\n4. The Breakfast Blend. Google, Mozilla, Microsoft all now have a \"lab\" concept featuring new ideas in forms of forks and plugins, and nightly builds while keeping stable suitable for production environment.\n\nWhat could be added / corrected about 1, 2, 3, 4? Where does Aura as a project stand in regard to this?
        </div> -->
    </div>
    "labels": [
      {
        "name": "discussion",
        "color": "ff789b",
        "url": "https://api.github.com/repos/addyosmani/aura/labels/discussion"
      }
    ],
    "user": {
      "login": "",
      "gravatar_id": "fd9cbc1d41ec496776d10e4c8e3f1837",
      "avatar_url": "https://secure.gravatar.com/avatar/fd9cbc1d41ec496776d10e4c8e3f1837?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png",
      "id": 26336,
      "url": ""
    },
    "created_at": "2012-09-10T13:43:08Z",
    "comments": 2,
    "id": 6762192,
</div>