<div class="search-item">
    <div class="span10">
        <div class="title">
            <i class="icon-book"></i>
            <a href="https://github.com/addyosmani/aura">aura</a>
            by
            <a href="https://api.gitbub.com/users/addyosmani">addyosmani</a>
        </div>
        <div class="description">A decoupled, event-driven architecture for developing widget-based applications. Works with Backbone.js and other frameworks.</div>
        <div class="info">
            <ul>
                <li>
                    <span class="info" title="This project is written in JavaScript">JavaScript</span>
                </li>
                <li class="margin" title="1368 starred this project">
                    <i class="icon-star"></i>
                    <span>1368</span>
                </li>
                <li class="margin" title="119 forked this project">
                    <i class="icon-git-fork"></i>
                    <span>119</span>
                </li>
                <li class="margin" title="Last commit was 9 hours ago">
                    <i class="icon-circle-arrow-down"></i>
                    <span>9 hours ago</span>
                </li>
                <li class="margin" title="This project is 2 years old">
                    <i class="icon-time"></i>
                    <span>2 years old</span>
                </li>
            </ul>
        </div>
    </div>
</div>