<div class="container">
    <div class="search-results">
        {{#if controller.length}}
            {{#each controller}}
<<<<<<< HEAD
                {{view GithubSearch.ResultView}}
=======
                {{view GSearch.ResultView}}
>>>>>>> b1cbcef60487a49e15e3670834586252039e4451
            {{/each}}
        {{else}}
            <section>
                <div class="loading">Loading ...</div>
            </section>
        {{/if}}
    </div>
</div>