<div class="container">
    <div class="search-results">
        {{#if controller.length}}
            {{#each controller}}
                {{view GSearch.ResultView}}
            {{/each}}
        {{else}}
            <section>
                <div class="loading">Loading ...</div>
            </section>
        {{/if}}
    </div>
</div>