<section class="container">
    {{#if controller.length}}
        {{#each controller}}
            {{view GSearch.SearchResultsView}}
        {{/each}}
    {{else}}
        <section>Loading ...</section>
    {{/if}}
</section>